/* Navbar Menus */
.navbar {
    margin: 0 0 0 0;
    border-radius: 0;
    border-top: 5px solid #333333;
    border-bottom: 0 solid;
}

.navbar-under {
    padding: 0 0 0 0;
    background-color: #373737;
    z-index: 1020;
    border-bottom: 5px solid #272727;
}

.navbar-logo {
    float: left;
    height: 50px;
    padding: 5px 25px 15px 15px;
    color: #EEEEEE;
    font-weight: bolder;
    font-size: 26px;
}

.navbar-under .nav,
.navbar-under .nav span{
    float: none;
    text-align: center;
    padding: 0 5px 0 5px;
}

.navbar-inverse .navbar-btn,
.navbar-under .navbar-btn{
    background-color: #222222;
    border-color: #333333;
    color: #CCCCCC;
    margin-top: 7px;
    margin-bottom: 5px;
}

.navbar-inverse .navbar-btn:hover {
    color: #ffffff;
    background-color: #333333;
}

.navbar-under .navbar-btn:hover {
    color: #ffffff;
    background-color: #444444;
}
/* End Navbar Menus */


/* Dropdown Menus*/
.dropdown-menu {
    padding: 0 0 0 0;
}

.dropdown-inner-menu{
    min-width: 300px;
    padding: 10px 10px 10px 10px;
    list-style-type: none;
}

.dropdown-menu .header {
  background-color: #ffffff;
  padding: 7px 10px;
  border-bottom: 1px solid #f4f4f4;
  color: #444444;
  font-size: 14px;
}

.dropdown-menu .footer{
  font-size: 12px;
  background-color: #f4f4f4;
  padding: 7px 10px;
  border-bottom: 1px solid #eeeeee;
  color: #444444;
  text-align: center;
}
/*End Dropdown menus*/
    

/* Sidebar Nav */
#wrapper {
    padding-left: 0;
    border-top: 5px solid #DDDDDD;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#wrapper.toggled {
    padding-left: 200px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: #DDDDDD;
    border-left: 10px solid #FFFFFF;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    background-color: FFFFFF;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 190px;
    margin: 0;
    padding-left: 0px;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #111111;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #000000;
    background: #EEEEEE;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav .sidebar-brand {
    padding-top: 10px;
    height: 60px;
    font-size: 22px;
    line-height: 50px;
    text-indent: 30px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 200px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 200px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 0 20px 0 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
/* End Sidebar Nav */