<!DOCTYPE html>

<html ng-app="atimsApp" ng-controller="AtimsMainController">

<head>


    <!-- Dependencies -->

    <meta name="viewport" content="width=device-width" />
    <title ng-bind="pageTitle"></title>

<!-- Vendor Libraries -->
    <!-- JQuery -->
    <script src="~/Vendor/scripts/jquery-2.1.3.js"></script>
    <!-- Bootstrap-->
    <script src="~/Vendor/scripts/bootstrap.js"></script>
    <link href="~/Vendor/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Vendor/css/bootstrap-theme.css" rel="stylesheet" />
    <!-- AngularJS -->
    <script src="~/Vendor/scripts/angular.js"></script>
    <script src="~/vendor/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <!-- UI-Grid -->
    <script src="~/Vendor/scripts/ui-grid-unstable.min.js"></script>
    <link href="~/Vendor/css/ui-grid-unstable.min.css" rel="stylesheet" />
    <!-- Calendar (Arshaw Calendar / UI-Calendar) -->
    <script src="~/Vendor/scripts/moment.js"></script>
    <script src="~/Vendor/scripts/fullcalendar.js"></script>
    <script src="~/Vendor/scripts/gcal.js"></script>
    <script src="~/Vendor/scripts/calendar.js"></script>
    <link href="~/Vendor/css/fullcalendar.css" rel="stylesheet" />
    
    <!-- Atims App -->
    <script src="~/Scripts/atims-main.js"></script>
    <link href="~/Content/atims-main.css" rel="stylesheet" />

    <!-- Controllers -->
    <script src="~/Scripts/Controllers/navigation-controller.js"></script>
    <script src="~/Scripts/Controllers/inmates-controller.js"></script>
    <script src="~/Scripts/Controllers/appointments-controller.js"></script>
    <script src="~/scripts/Controllers/housing-controller.js"></script>
    <!-- Services -->
    <script src="~/Scripts/Services/inmates-service.js"></script>


</head>

<body ng-include="userPage"></body>

</html>


