
<!DOCTYPE html>

<html ng-app="glassHouseApp" ng-controller="GlassHouseController as glassCtrl">

<head>
    <meta name="viewport" content="width=device-width" />
    <title ng-bind="glassPageTitle"></title>

    <!-- Dependencies -->
    <script src="~/scripts/jquery-2.1.3.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <script src="~/scripts/angular.js"></script>
    <script src="~/scripts/angular-route.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    
    <!-- Atims Glasshouse -->
    <script src="/scripts/glass.js"></script>
    <link href="/Content/glass.css" rel="stylesheet" />

</head>

<body>

    <!-- Header Nav Bar -->
    <nav class="navbar navbar-inverse navbar-over">
        <div class="container-fluid">
            <div class="navbar-header pull-left">
                <span class="navbar-logo">Atims JMS</span>
                <button type="button" class="btn navbar-btn" href="#menu-toggle" id="menu-toggle">Toggle Menu</button>
            </div>
            <div class="navbar-header pull-right">
                <span class="dropdown" id="messages-dropdown">
                    <a class="btn navbar-btn" href="#" data-toggle="dropdown">
                        X Messages
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li class="header"> Messages </li>
                        <li><ul class="dropdown-inner-menu">
                            <li><a href="#">
                                .. messages here ..
                            </a></li>
                        </ul></li>
                        <li><a class="footer" href="#">
                            See All Messages
                        </a></li>
                    </ul>
                </span>
                <span class="dropdown"> <!-- TODO -->
                    <a class="btn navbar-btn" href="#">X Notifications</a>
                </span>
                <span class="dropdown"> <!-- TODO -->
                    <a class="btn navbar-btn" href="#">X Tasks</a>
                </span>
            </div>
        </div>
    </nav>
    
    <!-- Module Nav Bar -->
    <nav class="nav navbar-default navbar-under">
        <div class="nav navbar-nav">
            <span class="dropdown col-md-1" ng-repeat="module in moduleMenu">
                <a class="btn navbar-btn" href="#" data-toggle="dropdown">
                    {{module.name}}
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li ng-repeat="submodule in module.submodules"></li>
                </ul>
            </span>
        </div>
    </nav>
        
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    {{ selectedModule }}
                </li>
                <li><a href="#">
                    Submodule 1
                </a></li>
                <li><a href="#">
                    Submodule 2
                </a></li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid page-padding">
                <h1>{{ theoutput }}</h1>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>

</html>


