<!DOCTYPE html>

<html ng-app="glassHouseApp" ng-controller="GlassHouseController as glassCtrl">

<head>
    <meta name="viewport" content="width=device-width" />
    <title ng-bind="glassPageTitle"></title>

    <!-- Dependencies -->
    <script src="~/scripts/jquery-2.1.3.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <script src="~/scripts/angular.js"></script>
    <script src="~/scripts/angular-route.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    
    <!-- Atims Glasshouse -->
    <script src="/scripts/glass.js"></script>
    <link href="/Content/glass-backup.css" rel="stylesheet" />

</head>

<body>
    <!-- Header Nav Bar -->
    <nav class="navbar navbar-inverse navbar-over">
        <div class="container-fluid">
            <div class="navbar-header navbar-logo pull-left">
                Atims JMS
            </div>
            <button class="btn navbar-btn pull-left" ng-click="menuToggle( )" id="menu-toggle">
                {{menuToggleText}}
            </button>
            <div class="navbar-header pull-right">
                <span class="dropdown" id="messages-dropdown">
                    <!-- TODO -->
                    <a class="btn navbar-btn" href="#" data-toggle="dropdown">
                        X Messages
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li class="dropdown-header">
                            Messages
                        </li>
                        <li><ul class="dropdown-textlink"><li><a href="#">
                            .. messages here ..
                        </a></li></ul></li>
                        <li><a class="dropdown-footer" href="#">
                            See All Messages
                        </a></li>
                    </ul>
                </span>
                <span class="dropdown">
                    <!-- TODO -->
                    <a class="btn navbar-btn" href="#">X Notifications</a>
                </span>
                <span class="dropdown">
                    <!-- TODO -->
                    <a class="btn navbar-btn" href="#">X Tasks</a>
                </span>
            </div>
        </div>
    </nav>

    <!-- Module Nav Bar -->
    <nav class="nav navbar-default navbar-under">
        <div class="nav navbar-nav">
            <span class="dropdown" ng-repeat="module in moduleMenu">
                <a class="btn navbar-btn" data-toggle="dropdown">
                    {{module.name}}
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-navlink" ng-repeat="subModule in module.subModuleMenu"
                            ng-click="goToSubModule(module.name, subModule.name)">
                        {{subModule.name}}
                    </li>
                </ul>
            </span>
        </div>
    </nav>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    {{ selectedModule.name }}
                </li>
                <li ng-repeat="subModule in selectedModule.subModuleMenu" ng-style="{'background-color': selectedModule.subModuleMenu[$index] == selectedSubModule ? '#B2C2E0' : ''}" ng-click="goToSubModule(selectedModule.name,subModule.name)">
                    {{ subModule.name }}
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid page-padding" ng-include="page" onload="pageLoaded()"></div>
            <p> Page: {{page}}</p>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
</body>

</html>


