<script src="~/scripts/angular.min.js"></script>
<script src="~/scripts/angular-ui/ui-bootstrap.min.js"></script>
<script src="~/scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
<script src="~/scripts/app/module.js"></script>
<script src="~/scripts/app/tab-controller.js"></script>
<script src="~/scripts/app/inmate-controller.js"></script>
<script src="~/scripts/app/facility-controller.js"></script>
<script src="~/scripts/app/warrant-controller.js"></script>

<div ng-app="JailApp">
    <div ng-controller="TabController">
        <tabset>
            <tab heading="Inmates">
                <div ng-include="'/scripts/app/angular-views/InmateTab.html'">
                </div>
            </tab>
            <tab heading="Facilities">
                <div ng-include="'/scripts/app/angular-views/FacilityTab.html'">
                </div>
            </tab>
            <tab heading="Warrants">
                <div ng-include="'/scripts/app/angular-views/WarrantTab.html'">
                </div>
            </tab>
        </tabset>
    </div>
</div>
