
<div id="glass-nav-bar" ng-controller="GlassHouseNavController as glassHouseNavCtrl" ng-init="glassHouseNavCtrl.init( )">

    <!-- User Navigation Bar-->
    <ul>
        <li ng-repeat="icon in glassHouseNavCtrl.userNav.iconSet"
            ng-class="icon.state.css"
            ng-click="icon.state.onClick( icon.name )"
            ng-mouseover="icon.state.hoverOver( icon.name )"
            ng-mouseleave="icon.state.hoverOut( icon.name )">
            <span ng-bind="icon.state.display"></span>
            <span ng-bind="icon.raw"></span>
        </li>
    </ul>

    <!-- Main Navigation Bar-->
    <ul>
        <li ng-repeat="icon in glassHouseNavCtrl.mainNav.iconSet"
            ng-class="icon.state.css"
            ng-click="icon.state.onClick( icon.name )"
            ng-mouseover="icon.state.hoverOver( icon.name )"
            ng-mouseleave="icon.state.hoverOut( icon.name )">
            <span ng-bind="icon.state.display"></span>
            <span ng-bind="icon.raw"></span>
        </li>
    </ul>

    <!-- Sub Navigation Bar-->
    <ul>
        <li ng-repeat="icon in glassHouseNavCtrl.currentSubNav.iconSet"
            ng-class="icon.state.css"
            ng-click="icon.state.onClick( icon.name )"
            ng-mouseover="icon.state.hoverOver( icon.name )"
            ng-mouseleave="icon.state.hoverOut( icon.name )">
            <span ng-bind="icon.state.display"></span>
            <span ng-bind="icon.raw"></span>
        </li>
    </ul>

</div>