
 <div ng-controller="InmatesController as inmatesCtrl" ng-init="inmatesCtrl.loadActiveInmates()">
     <h1> Active Inmates </h1>
     <div id="grid1" ui-grid="gridOptions" class="grid" ui-grid-resize-columns ui-grid-infinite-scroll></div>
 </div>
