<<<<<<< HEAD:AtimsWeb/Views/Records/Appt.html
﻿<div ng-controller="calendarController">
    <button class="btn btn-default" ng-click="openModal()">Add Event</button>

=======
﻿<div ng-controller="AppointmentsController as apptCtrl">
 
>>>>>>> 9b5787ec2e8672f96e85df2a627d9da9f2fccc90:AtimsWeb/Views/JMS/Records/Appt.cshtml
    <div>
        <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>
    </div>
  
    <div>
        new Date:
        {{newDate}}
    </div>
    <div>
        Calendar:
        {{debugCalendar}}
    </div>
</div>

