<div class="modal-header">
    <h3 class="modal-title">New Event</h3>
</div>
<div class="modal-body container-fluid">
    <div class="row">
        <div class="col-md-7">
            <div style="display:inline-block; min-height:290px;">
                <datepicker ng-model="start" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
                <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
            </div>
        </div>
        <div class="col-md-5">
            <div class="well">
                        <label>Event Name</label>
                        <input type="text" ng-model="title" placeholder="Name Me" />
                        <label>Description</label>
                        <input type="text" ng-model="reason" placeholder="Describe Me" />
                        <label>Start:</label>
                        <timepicker ng-model="start" ng-change="changeStart()"></timepicker>
                        <label>End:</label>
                        <timepicker ng-model="end" ng-change="changeEnd()"></timepicker>
                <br />{{start}}<br />{{end}}<br />
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok(Event)">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
