    <div id="glass-login">

        <h1>{{ glassUserCtrl.loginHeaderText }}</h1>
        <p>{{ glassUserCtrl.loginParagraphText }}</p>


        <div id="glass-login-form" ng-show="showLoginForm" >
            <form ng-submit="glassUserCtrl.loginFormSubmit( )" novalidate>
                @Html.AntiForgeryToken()
                <input type="text" ng-model="username" placeholder="Username" class=".login-input" /><br />
                <input type="password" ng-model="password" placeholder="Password" class=".login-input" /><br />
                <input type="submit" name="Login" class="btn btn-default .login-input" /><br />
            </form>
        </div>


        <div id="glass-login-status" ng-show="showLoginStatus" >

        </div>


    </div>