@{ Layout = "~/Views/GlassHouse/_GlassHouseLayout.cshtml"; }

    <div id="glass-user-container"
        ng-controller="GlassHouseLoginController as glassUserCtrl"
        ng-init="glassUserCtrl.pageInit( )" >





    </div>


