<div data-ng-controller="InmateController">
    <div class="row">
        <div class="col-md-12">
            <strong class="error">{{ error }}</strong>
            <br />
            <p data-ng-hide="addMode"><a data-ng-click="toggleAdd()" href="javascript:;" class="btn btn-primary">Add New</a></p>
            <form name="addInmate" data-ng-show="addMode" style="width:800px;margin:0px auto;">
                <div class="form-group">
                    <label for="fname" class="col-sm-2 control-label">First Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="fname" placeholder="please enter your first name" data-ng-model="newinmate.FirstName" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lname" class="col-sm-2 control-label">Last Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="lname" placeholder="please enter your last name" data-ng-model="newinmate.LastName" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="age" class="col-sm-2 control-label">Age:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="age" placeholder="please enter your age" data-ng-model="newinmate.Age" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="age" class="col-sm-2 control-label">Facility:</label>
                    <div class="col-sm-10">
                        <select required data-ng-model="newinmate.FacilityId" ng-options="facility .Id as facility.Name for facility in facilities">
                            <!--track by facility.ID-->
                            <option value="">--Choose Facility--</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" value="Add" data-ng-click="add()" data-ng-disabled="!addInmate.$valid" class="btn btn-primary" />
                        <input type="button" value="Cancel" data-ng-click="toggleAdd()" class="btn btn-primary" />
                    </div>
                </div>
                <br />
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" style="width:800px">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Facility</th>
                        <th></th>
                    </tr>
                    <tr data-ng-repeat="inmate in inmates">
                        <td>
                            <p data-ng-hide="inmate.editMode">{{ inmate.FirstName }}</p>
                            <input data-ng-show="inmate.editMode" type="text" data-ng-model="inmate.FirstName" />
                        </td>
                        <td>
                            <p data-ng-hide="inmate.editMode">{{ inmate.LastName }}</p>
                            <input data-ng-show="inmate.editMode" type="text" data-ng-model="inmate.LastName" />
                        </td>
                        <td>
                            <p data-ng-hide="inmate.editMode">{{ inmate.Age }}</p>
                            <input data-ng-show="inmate.editMode" type="text" data-ng-model="inmate.Age" />
                        </td>
                        <td>
                            <p data-ng-hide="inmate.editMode">{{inmate.Facility.Name}}</p>
                            <select data-ng-show="inmate.editMode" data-ng-model="inmate.Facility" ng-options="facility.Name for facility in facilities">
                                <option value="">--Choose Facility--</option>
                            </select>
                        </td>

                        <td>
                            <p data-ng-hide="inmate.editMode"><a data-ng-click="toggleEdit(inmate)" href="javascript:;">Edit</a> | <a data-ng-click="deleteinmate(inmate)" href="javascript:;">Delete</a></p>
                            <p data-ng-show="inmate.editMode"><a data-ng-click="save(inmate)" href="javascript:;">Save</a> | <a data-ng-click="toggleEdit(inamte)" href="javascript:;">Cancel</a></p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


