    <div data-ng-controller="WarrantController">
        <div class="row">
            <div class="col-md-12">
                <strong class="error">{{ error }}</strong>
                <br />
                <p data-ng-hide="addMode"><a data-ng-click="toggleAdd()" href="javascript:;" class="btn btn-primary">Add New</a></p>
                <form name="addWarrant" data-ng-show="addMode" style="width:800px;margin:0px auto;">
                    <div class="form-group">
                        <label for="cid" class="col-sm-2 control-label">ID:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="cid" placeholder="Inmate's ID" data-ng-model="newwarrant.id" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fname" class="col-sm-2 control-label">First Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="fname" placeholder="Inmate's First Name" data-ng-model="newwarrant.FirstName" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lname" class="col-sm-2 control-label">Last Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lname" placeholder="Inmate's Last Name" data-ng-model="newwarrant.LastName" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="age" class="col-sm-2 control-label">Age:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="age" placeholder="Inmate's Age" data-ng-model="newwarrant.Age" required />
                        </div>
                    </div>                  
                    <div class="form-group">
                        <label for="codeCharge" class="col-sm-2 control-label">Code #:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="idCharge" placeholder="Code # for the Charge" data-ng-model="newwarrant.chargeCode" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Charge" class="col-sm-2 control-label">Charge:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="charge" placeholder="Charge" data-ng-model="newwarrant.Charge" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dateOfCharge" class="col-sm-2 control-label">Date Of Charge:</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="dateCharge" placeholder="Date this Charge was issued" data-ng-model="newwarrant.dateOfCharge" required />
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="submit" value="Add" data-ng-click="add()" data-ng-disabled="!addWarrant.$valid" class="btn btn-primary" />
                            <input type="button" value="Cancel" data-ng-click="toggleAdd()" class="btn btn-primary" />
                        </div>
                    </div>
                    <br />
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br />
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" style="width:800px">
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Date Issued</th>
                            <th>Code #</th>
                            <th>Charge</th>
                            <th></th>
                        </tr>
                        <tr data-ng-repeat="warrant in warrants">
                            <td><strong data-ng-hide="warrant.editMode">{{ warrant.id }}</strong></td>
                            <td>
                                <p data-ng-hide="warrant.editMode">{{ warrant.FirstName }}</p>
                                <input data-ng-show="warrant.editMode" type="text" data-ng-model="warrant.FirstName" />
                            </td>
                            <td>
                                <p data-ng-hide="warrant.editMode">{{ warrant.LastName }}</p>
                                <input data-ng-show="warrant.editMode" type="text" data-ng-model="warrant.LastName" />
                            </td>
                            <td>
                                <p data-ng-hide="warrant.editMode">{{ warrant.Age }}</p>
                                <input data-ng-show="warrant.editMode" type="text" data-ng-model="warrant.Age" />
                            </td>
                            <td>
                                <p data-ng-hide="warrant.editMode">{{ warrant.dateOfCharge }}</p>
                                <input data-ng-show="warrant.editMode" type="date" data-ng-model="warrant.dateOfCharge" />
                            </td>
                            <td>
                                <p data-ng-hide="warrant.editMode">{{ warrant.chargeCode }}</p>
                                <input data-ng-show="warrant.editMode" type="text" data-ng-model="warrant.chargeCode" />
                            </td>
                            <td>
                                <p data-ng-hide="warrant.editMode">{{ warrant.Charge }}</p>
                                <input data-ng-show="warrant.editMode" type="text" data-ng-model="warrant.Charge" />
                            </td>

                            <td>
                                <p data-ng-hide="warrant.editMode"><a data-ng-click="toggleEdit(warrant)" href="javascript:;">Edit</a> | <a data-ng-click="deletewarrant(warrant)" href="javascript:;">Delete</a></p>
                                <p data-ng-show="warrant.editMode"><a data-ng-click="save(warrant)" href="javascript:;">Save</a> | <a data-ng-click="toggleEdit(warrant)" href="javascript:;">Cancel</a></p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>